@import url("http://fonts.cdnfonts.com/css/product-sans");

/* Main Body */
*,
body {
  margin: 0;
  padding: 0;
  background-color: #202124;
  box-sizing: border-box;
  font-family: "Product Sans", sans-serif;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#bodyMain {
  margin-left: auto;
  margin-right: auto;
  width: 584px;
  margin-top: 20vh;
  text-align: center;
}
#logo {
  width: 40vh;
  max-width: 272px;
}
#search {
  margin: 2vw 0;
  border: #969ca1 1px solid;
  border-radius: 3.5vh;
  width: 582px;
  max-height: 45px;
  height: 7vh;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 487px) 1fr;
  padding: 0.2vw 0;
}
#searchBar {
  max-width: 487px;
  width: 50vw;
  max-height: 34px;
  height: 7vh;
  border: none;
  margin: auto;
  color: #e8eaed;
}
#searchBar:focus {
  outline: none;
}
#searchBarSpeech,
#magnifyingGlass,
#searchBarSpeech svg,
#magnifyingGlass svg {
  height: 3vh;
  max-height: 24px;
  width: 3vh;
  max-width: 24px;
}
#searchBarSpeech,
#magnifyingGlass {
  display: block;
  margin: auto 1vh;
}
#magnifyingGlass svg {
  fill: #969ca1;
}
#searchButtons-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#searchButtons-div button {
  color: white;
  padding: 8px 16px;
  margin: 1.5vh;
  border: none;
  background-color: #303134;
  border-radius: 4px;
  border: solid 1px transparent;
  font-size: 14px;
}
#searchButtons-div button:hover {
  border: #969ca1 1px solid;
}
#languageText {
  color: #b3afa4;
  margin: 1vw 0;
  font-size: 12px;
}
#languageText a {
  text-decoration: none;
  color: #6f9ce4;
}

@media only screen and (max-width: 584px) {
  #search {
    width: 95%;
    margin: 0 auto;
  }
  #bodyMain {
    width: 100vw;
    min-width: 350px;
  }
}

/* Header */
.headerLink {
  color: white;
  text-decoration: none;
  float: right;
}
header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100vw;
  height: 6vh;
  text-align: center;
  line-height: 6vh;
  gap: 1vw;
  padding: 0 1vw;
}
#imagesLink:hover {
  text-decoration: underline;
}
#gmailLink:hover {
  text-decoration: underline;
}
#account:hover {
  text-decoration: underline;
}
#apps:hover {
  text-decoration: underline;
}

#account {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  margin: auto 0;
}
#apps {
  color: white;
  height: 25px;
  margin: calc((6vh - 25px) / 2) 0;
}

/* Footer */

footer {
  background-color: #171717;
  width: 100vw;
  position: fixed;
  bottom: 0%;
  color: #818489;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
footer a {
  text-decoration: none;
  color: #818489;
  background-color: #171717;
}
footer a:hover {
  text-decoration: underline;
}
footer div {
  background-color: #171717;
  color: #818489;
  float: left;
  line-height: 2.5vw;
  padding: 0.2vw;
  text-decoration: none;
}
#footerB {
  padding: 0 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15vw;
  row-gap: 0;
}
#footerT {
  padding: 0 30px;
  width: 100vw;
  height: 5vh;
  line-height: 5vh;
  text-align: left;
  border-bottom: 1px solid #1a1c1d;
}
#footerBL {
  display: flex;
  line-height: 5vh;
  height: 5vh;
  flex-grow: 3;
  flex-basis: 0;
  justify-content: space-between;
}
#footerM {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  flex-grow: 2;
  flex-basis: 0;
  justify-content: center;
  overflow: visible;
  white-space: nowrap;
}
#footerBR {
  display: flex;
  height: 5vh;
  line-height: 5vh;
  text-align: right;
  flex-grow: 2;
  flex-basis: 0;
  justify-content: space-between;
}
#spacer {
  flex-grow: 0;
  flex-basis: 0;
}
#co2Image {
  height: 14px;
}
@media only screen and (max-width: 850px) {
  #footerB {
    flex-direction: column;
    gap: 0;
  }
  #footerBL {
    order: 2;
    flex-wrap: nowrap;
  }
  #footerM {
    order: 1;
    flex-wrap: nowrap;
  }
  #footerBR {
    order: 3;
    flex-wrap: nowrap;
  }
}
